@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.graph-container {
  overflow: hidden;
}
.tree-container {
  width: 1600px;
  height: 1100px; /* Chiều cao khung */
  border: 2px solid #ccc; /* Màu viền khung */
  border-radius: 8px; /* Bo góc khung */
  overflow: auto; /* Tạo thanh cuộn nếu nội dung vượt quá kích thước khung */
  padding: 20px; /* Khoảng cách giữa nội dung và viền khung */
  background-color: #f9f9f9; /* Màu nền khung */
}
#graph-id {
  width: 100%;
  height: 100%;
}